@font-face {
  font-family: Poppins;
  src: url(/fonts/Poppins-Medium.ttf);
  font-display: swap;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

/* HEADERS */

.navbar.bg-primary {
  --bs-bg-opacity: 0.7;
}

.navbar svg {
  vertical-align: unset;
}

.navbar-toggler,
.navbar-collapse {
  z-index: 1;
}

.navbar-brand::before {
  position: absolute;
  content: "";
  top: -36px;
  background: url(/images/lo_be.png);
  width: 322px;
  height: 167px;
  left: 0;
  background-repeat: no-repeat;
}

.navbar-toggler:not(.collapsed) .bar:first-child {
  transform: translateY(8px) rotate(45deg);
}

.navbar-toggler:not(.collapsed) .bar:nth-child(2) {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.navbar-toggler {
  border-color: unset;
  border: 0;
}

.navbar-toggler:focus {
  box-shadow: unset;
}

.navbar-toggler .bar {
  display: block;
  width: 25px;
  height: 2px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--bs-light);
}

/* HEADERS END */
